.jumbotron {
   background-color: yellow;
   color: black;
   margin-top: 50px;
}

.btn-buscar{
   background-color: red;
   color: black;
   width: 50%;
   
}
  
footer {
   padding: 10px 10px 0 10px;
   background-color: Yellow;
   margin-botton: 0px;
   margin-top: 10px;
}

.card-producto {
   flex: 1 180px;
   padding: 2px 5px 2px 5px:
   margin-top: 50px;
}
.card-img-top {
	width: 10%;
}